@model Rift.Models.Colaborador
@{
    ViewBag.Title = "Alterar";
}

<h1>Alteração</h1>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.IdColaborador)
<div class="row">
    <div class="col-md-3">
        <label>Nome Colaborador</label><label id="campos-obrigatorios">*</label>
        @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control", maxlength = 60, required = true } })
    </div>
    <div class="col-md-3">
        <label>Data de Nascimento</label><label id="campos-obrigatorios">*</label>
        <input type="date" class="form-control" maxlength="8" required id="DataNascimento" name="DataNascimento" value="@Model.DataNascimento.ToString("yyyy-MM-dd")" />

    </div>
    <div class="col-md-3">
        <label>E-mail</label><label id="campos-obrigatorios">*</label>
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", maxlength = 180, required = true, onblur = "validacaoEmail(Email)" } })
        <label id="validarEmail"></label>
    </div>
    <div class="col-md-3">
        <label>Senha</label><label id="campos-obrigatorios">*</label>
        @Html.EditorFor(m => m.Senha, new { htmlAttributes = new { @class = "form-control", maxlength = 8, required = true, type = "password" } })
    </div>
</div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Celular</label><label id="campos-obrigatorios">*</label>
            @Html.EditorFor(m => m.Celular, new { htmlAttributes = new { @class = "form-control mascara-celular", maxlength = 14, required = true } })
        </div>
        <div class="col-md-3">
            <label>Telefone</label>
            @Html.EditorFor(m => m.Telefone, new { htmlAttributes = new { @class = "form-control campo-telefone mascara-telefones", maxlength = 14 } })
        </div>
        <div class="col-md-3">
            <label>Cep</label>
            @Html.EditorFor(m => m.Cep, new { htmlAttributes = new { @class = "form-control mascara-cep", maxlength = 9, onkeypress = "return Onlynumbers(event)" } })
        </div>
        <div class="col-md-3">
            <label>Endereço</label>
            @Html.EditorFor(m => m.Endereco, new { htmlAttributes = new { @class = "form-control", maxlength = 8 } })
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Número</label>
            @Html.EditorFor(m => m.Numero, new { htmlAttributes = new { @class = "form-control numero-colaborador", maxlength = 6 } })
        </div>
        <div class="col-md-3">
            <label>Complemento</label>
            @Html.EditorFor(m => m.Complemento, new { htmlAttributes = new { @class = "form-control", maxlength = 60 } })
        </div>
        <div class="col-md-3">
            <label>Bairro</label>
            @Html.EditorFor(m => m.Bairro, new { htmlAttributes = new { @class = "form-control", maxlength = 60 } })
        </div>
        <div class="col-md-3">
            <label>Uf</label>
            @Html.DropDownList("uf", new SelectList(ViewBag.Estados, "Uf", "Uf"), new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Cidade</label>
            @Html.DropDownListFor(m => m.Cidade, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" })
        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col-md-3">
            <p id="campos-obrigatorios">* Campos obrigatórios</p>
        </div>
    </div>
    <button type="submit" class="btn btn-success"><img src="~/imagens/icons8-salvar-como-filled-50.png" /></button>
    <a href="/Colaborador/Index"><button type="button" class="btn btn-warning"><img src="~/imagens/icons8-esquerda-filled-50.png" /></button></a>
}
<script src="~/Scripts/JSCadastro.js"></script>

<script src="~/Scripts/JsColaborador.js"></script>

<script>
    $(document).ready(function () {
        $('#Cidade').select2();
    });
</script>