@model List<Rift.Models.Colaborador>
@{
    ViewBag.Title = "Index";
}
<a href="/Colaborador/Incluir"><button class="btn btn-primary" title="Cadastrar Colaborador">Novo Colaborador</button></a>
<h1>Lista de Colaboradores</h1>
@using (Html.BeginForm())
{
    <div>
        <table id="table-colaboradores" class="table table-bordered  table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var colaboradores in Model)
                {
                    <tr>
                        <td>@colaboradores.IdColaborador</td>
                        <td>@colaboradores.Nome</td>
                        <td>@colaboradores.Email</td>
                        <td class="mascara-celular">@colaboradores.Celular</td>
                        <td>
                            <a href="@Url.Action("Alterar","Colaborador", new { IdColaborador = colaboradores.IdColaborador })" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                            <a href="@Url.Action("Excluir","Colaborador", new { IdColaborador = colaboradores.IdColaborador })" title="Excluir"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
}

    <script>
        $(document).ready(function () {
            $('#table-colaboradores').DataTable({
                order:[[1,"asc"]],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                }
            }
            );
        });
    </script>
